{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Illicit Transactions</title>
    <link rel="stylesheet" href="{% static "assets/css/illicit.css"%}">
</head>
<body>
    <nav>
        <h1>C R E W</h1>
        <div class="links" id="links">
            <a href="./index.html">Home</a>
            <a href="./mixer.html">Mixer Analysis</a>
            <a href="./transaction.html">Transaction Analysis</a>
            <!-- <button class="getstarted" id="getstarted1">Get Started</button> -->
        </div>
        <button class="hamburger" id="hamburger">
            <img src="{% static "assets/vectors/landing/cryptocurrency.gif"%}" alt="hamburger">
        </button>
    </nav>
    <div class="links dropdownnav" id="dropdownnav">
        <a href="./index.html">Home</a>
        <a href="./mixer.html">Mixer Analysis</a>
        <a href="./transaction.html">Transaction Analysis</a>
        <!-- <button class="getstarted" id="getstarted2">Get Started</button> -->
    </div>
    <section class="content" id="content">
        <h1>Illicit Transactions</h1>
        <br>
        <article class="illicit">
            <form class="data" action="{% url 'illicit'%}">
                {% csrf_token %}
                <label for="wa1">Wallet Address 1</label>
                <input type="text" placeholder="Enter addr1..." id="wa1" name="txid">
            </form>
            <div class="output">
                <p>
                    {% comment %} what i need in this is : txid, vin, vout, illicit {% endcomment %}
                    
                    {{ illicit }}
                </p>
            </div>
        </article>
    </section>
    <script type="module" src="{% static "assets/js/illicit.js"%}"></script>
</body>
</html>