{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Illicit Transactions</title>
    <link rel="stylesheet" href="{% static "assets/css/illicit.css"%}">
</head>
<body>
    <nav>
        <h1><a href="{%url 'index' %}" style="text-decoration: none; color: white;">C R E W</a></h1>
        <div class="links" id="links">
            <a href="{% url 'index' %}">Home</a>
            <a href="{%url 'mixer'%}">Mixer Analysis</a>
            <a href="{%url 'transaction' %}">Transaction Analysis</a>
            <!-- <button class="getstarted" id="getstarted1">Get Started</button> -->
        </div>
        <button class="hamburger" id="hamburger">
            <img src="{% static "assets/vectors/landing/cryptocurrency.gif"%}" alt="hamburger">
        </button>
    </nav>
    <div class="links dropdownnav" id="dropdownnav">
        <a href="{% url 'index' %}">Home</a>
        <a href="{%url 'mixer'%}">Mixer Analysis</a>
        <a href="{%url 'transaction' %}">Transaction Analysis</a>
        <!-- <button class="getstarted" id="getstarted2">Get Started</button> -->
    </div>
    <section class="content" id="content">
        <h1>Illicit Transactions</h1>
        <br>
        <article class="illicit">
            <form class="data" action="{% url 'illicit'%}">
                {% csrf_token %}
                <label for="wa1">Transaction ID</label>
                <input type="text" placeholder="Enter addr1..." id="wa1" name="txid">
                {% comment %} <button type="submit"><img src="{% static "assets/vectors/transaction/search.png" %}" class="searchbtn" alt="Search" id="searchtransaction" type="submit"></button> {% endcomment %}
            </form>
            <div class="output">
                <p>
                    {% comment %} what i need in this is : txid, vin, vout, illicit {% endcomment %}
                    <div class="displaytext">
                        <p>Tx_id</p>
                        <p>Vin</p>
                        <p>Vout</p>
                        <p>Type of Transaction </p>
                    </div>
                    <div class="displayval">
                        <p>{{txid}}</p>
                        <p>{{vin}}</p>
                        <p>{{vout}}</p>
                        <p>{% if illicit == 0 %} Licit (Legal) {% endif %}</p>
                        <p>{% if illicit == 1 %} Illicit (Illegal) {% endif %}</p>
                    </div>
                </p>
            </div>
        </article>
    </section>
    <script type="module" src="{% static "assets/js/illicit.js"%}"></script>
</body>
</html>