{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CIDECODE</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "assets/css/style.css" %}">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VLR0CXYWJK"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-VLR0CXYWJK');
</script>

<body>
    <nav>
        <h1>C R E W</h1>
        <div class="links" id="links">
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
            <a id="overall" href="{% url 'overall' %}">Overall Analysis</a>
            <button class="getstarted" id="getstarted1">Get Started</button>
        </div>
        <button class="hamburger" id="hamburger">
            <img src="{% static "/assets/vectors/landing/cryptocurrency.gif" %}" alt="hamburger">
        </button>
    </nav>
    <div class="links dropdownnav" id="dropdownnav">
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        <button class="getstarted" id="getstarted2">Get Started</button>
    </div>
    <main>
        <section class="landing">
            <article class="options">
                <h2>Welcome!</h2>
                <br>
                <hr>
                <br>
                <h4>C R E W is your one step towards finding out the illicit transactions in the Crypto Network! We are working on Transaction Ananlysis, Mixer Analysis and Illicit Transaction Analysis. CREW is with you in understanding and analysing the cybercrimes in Crypto.</h4>
                <button class="getstartedbutton" id="getstarted3">Get Started</button>
            </article>
            <img src="{% static "assets/vectors/landing/cryptocurrency.gif"%}" alt="cryptocurrency" class="cryptocurrency">
        </section>
        <section class="content" id="about">
            <h1 id="analysis">Our Analysis</h1>
            <br>
            <section class="analysis-data">
                <article class="analysis-count">
                    <h1>Illicit Transactions</h1>
                    <p class="count">{{illicit}}</p>
                </article>
                <article class="analysis-count">
                    <h1>Licit Transactions</h1>
                    <p class="count">{{licit}}</p>
                </article>
            </section>
        </section>
        <section class="content" id="content">
            <h1>Our Services</h1>
            <br>
            <article class="services">
                <a href="{% url 'transaction' %}" style="color: white; text-decoration: none;">
                <div class="servicecard" id="ta">
                    <h1>Transaction Analysis</h1>
                    <img src="{% static "assets/vectors/landing/bitcoin-mining.png"%}" alt="bitcoin-mining"
                        class="serviceimg bitcoin-mining">
                    <p>Track crypto with various attributes that you can gather</p>
                </div>
                </a>
                <a href="{% url 'mixer'%}" style="color: white; text-decoration: none;">
                <div class="servicecard" id="ma">
                    <h1>Mixer Analysis</h1>
                    <img src="{% static "assets/vectors/landing/gpu-mining.png"%}" alt="gpu-mining" class="serviceimg gpu-mining">
                    <p>Check if the funds are moving through a mixer or a tumbler</p>
                </div>
                </a>
                <a href="{% url 'illicit'%}" style="color: white; text-decoration: none;">
                <div class="servicecard" id="it">
                    <h1>Illicit transactions</h1>
                    <img src="{% static "assets/vectors/landing/bitcoin.png"%}" alt="bitcoin" class="serviceimg bitcoin">
                    <p>Check if the user is engaged into money laundering</p>
                </div>
                </a>
            </article>
        </section>
        <section class="contact" id="contact">
        </section>
    </main>
    <script type="module" src="{% static "assets/js/index.js"%}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        $('#analysis').on('load',
            $('.count').each(function () {
                $(this).prop('Counter',0).animate({
                    Counter: $(this).text()
                }, {
                    duration: 5000,
                    easing: 'swing',
                    step: function (now) {
                        $(this).text(Math.ceil(now));
                    }
                });
            }));
    </script>
</body>
</html>
