{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mixer Analysis</title>
    <link rel="stylesheet" href="{% static "assets/css/mixer.css"%}">
</head>
<body>
    <nav>
        <h1>C R E W</h1>
        <div class="links" id="links">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'transaction' %}">Transaction Analysis</a>
            <a href="{% url 'illicit' %}">Illicit Transactions</a>
            <!-- <button class="getstarted" id="getstarted1">Get Started</button> -->
        </div>
        <button class="hamburger" id="hamburger">
            <img src="../assets/vectors/landing/cryptocurrency.gif" alt="hamburger">
        </button>
    </nav>
    <div class="links dropdownnav" id="dropdownnav">
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'transaction' %}">Transaction Analysis</a>
        <a href="{% url 'illicit' %}">Illicit Transactions</a>
        <!-- <button class="getstarted" id="getstarted2">Get Started</button> -->
    </div>
    <section class="content" id="content">
        <h1>Mixer Analysis</h1>
        <br>
        <article class="mixer">
            <div class="data">
                <div>
                    <label for="wa1">Wallet Address 1</label>
                    <input type="text" placeholder="Enter addr1..." id="wa1">
                </div>
                <div>
                    <label for="wa2">Wallet Address 2</label>
                    <input type="text" placeholder="Enter addr2..." id="wa2">
                </div>
                <div>
                    <label for="txid">Transaction ID</label>
                    <input type="text" placeholder="Enter tx_id..." id="txid">
                </div>
                <div>
                    <label for="amt">Amount in BTC</label>
                    <input type="number" placeholder="Enter amount..." id="amt">
                </div>
                <div>
                    <label for="time">Time in hh:mm:ss</label>
                    <input type="text" placeholder="Enter Time ..." id="time">
                </div>
                <div>
                    <label for="numtx">Number of Transactions</label>
                    <input type="number" placeholder="Number of Transactions..." id="numtx">
                </div>
            </div>
            <div class="output">
                <p> 
                    {
                        Analysis goes here!
                    }
                </p>
            </div>
        </article>
    </section>
    <script type="module" src="{% static "assets/js/mixer.js"%}"></script>
</body>
</html>