{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mixer Analysis</title>
    <link rel="stylesheet" href="{% static "assets/css/mixer.css"%}">
</head>
<body>
    <nav>
        <h1><a href="{%url 'index' %}" style="text-decoration: none; color: white;">C R E W</a></h1>
        <div class="links" id="links">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'transaction' %}">Transaction Analysis</a>
            <a href="{% url 'overall' %}">Overall Transactions</a>
            <!-- <button class="getstarted" id="getstarted1">Get Started</button> -->
        </div>
        <button class="hamburger" id="hamburger">
            <img src="../assets/vectors/landing/cryptocurrency.gif" alt="hamburger">
        </button>
    </nav>
    <div class="links dropdownnav" id="dropdownnav">
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'transaction' %}">Transaction Analysis</a>
        <a href="{% url 'overall' %}">Overall Transactions</a>
        <!-- <button class="getstarted" id="getstarted2">Get Started</button> -->
    </div>
    <section class="content" id="content">
        <h1>Mixer Analysis</h1>
        <br>
        <article class="mixer">
            <div class="data">
                <label for="txid">Transaction ID</label>
                <div>
                    <input type="text" placeholder="Enter tx_id..." id="txid">
                    <button type="submit"><img src="{% static "assets/vectors/transaction/search.png" %}" class="searchbtn" alt="Search" id="searchtransaction" type="submit"></button> 
                </div>
            </div>
            <div class="output">
                <p> 
                    {
                        Analysis goes here!
                    }
                </p>
            </div>
        </article>
    </section>
    <script type="module" src="{% static "assets/js/mixer.js"%}"></script>
</body>
</html>