{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Analysis</title>
    <link rel="stylesheet" href="{% static "assets/css/transaction.css" %} ">
</head>
<body>
    <nav>
        <h1><a href="{%url 'index' %}" style="text-decoration: none; color: white;">C R E W</a></h1>
        <div class="links" id="links">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'mixer' %}">Mixer Analysis</a>
            <a href="{% url 'illicit' %}"> Illicit Transaction</a>
        </div>
        <button class="hamburger" id="hamburger">
            <img src="{% static "assets/vectors/landing/cryptocurrency.gif" %}" alt="hamburger">
        </button>
    </nav>
    <div class="links dropdownnav" id="dropdownnav">
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'mixer' %}">Mixer Analysis</a>
        <a href="{% url 'illicit' %}"> Illicit Transaction</a>
    </div>
    <section class="content" id="content">
        <h1>Transaction Analysis</h1>
        <br>
        <article class="services">
            <form class="searchtransaction" action="{% url "transaction" %}">
                {% csrf_token %}
                <input type="text" placeholder="Enter transaction ID..." id="searchbar" name="txid">
                <button type="submit"><img src="{% static "assets/vectors/transaction/search.png" %}" class="searchbtn" alt="Search" id="searchtransaction" type="submit"></button>
            </form>
           {% comment %} <form class="searchwallet">
                <input type="text" placeholder="Enter wallet Address..." id="searchbar">
                <img src="{% static "assets/vectors/transaction/search.png" %}" class="searchbtn" alt="Search" id="searchwallet">
                
           </form> {% endcomment %}
            <div class="output_container">
                {% comment %} 'txid': txid,'vin': vin, 'vout': vout, 'bin': bin, 'bout': bout, 'sender_addresses': sender_adresses, 'receiver_addresses': receiver_addresses} {% endcomment %}
                <div class="displaytext">
                    <p>Tx_id</p>
                    <p>Vin</p>
                    <p>Vout</p>
                    <p>Bin</p>
                    <p>Bout</p>
                    <p>Sender</p>
                    <p>Reciever</p>
                </div>
                <div class="displayval">
                    <p>{{txid}}</p>
                    <p>{{vin}}</p>
                    <p>{{vout}}</p>
                    <p>{{bin}}</p>
                    <p>{{bout}}</p>
                    <p>{% for i in sender_addresses %} {{i}} {% endfor %}</p>
                    <p>{% for i in receiver_addresses %} {{i}} {% endfor %}</p>
                </div>
            </div>
        </article>
    </section>
    <script type="module" src="{% static "assets/js/transaction.js" %}"></script>
</body>
</html>