@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

::-webkit-scrollbar {
    width: 0.01px;
}

body::-webkit-scrollbar {
    width: 0.3em;
    height: 0.3em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    border-radius: 2vw;
    background-color: #fdcb50;
    outline: 1px solid #fdcb50;
}

/* Navbar */
nav {
    height: 10vh;
    width: 95vw;
    margin: 10px auto;
    padding: 12px;
    position: sticky;
    border-radius: 2vw;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(16px) saturate(0%);
    -webkit-backdrop-filter: blur(16px) saturate(0%);
    background-color: rgba(255, 255, 255, 0.13);
    border: 1px solid rgba(255, 255, 255, 0.125);
    cursor: pointer;
}

nav h1 {
    padding: 12px;
    border-radius: 2vw;
}

/* 7fff00 */
.links button {
    border-radius: 2vw;
    padding: 15px;
    cursor: pointer;
    width: max-content;
    background-color: #fdcb50;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    border: 2px solid white;
}

.links a {
    text-decoration: none;
    color: whitesmoke;
    padding: 12px;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 3vw;
    /* border: 1px solid whitesmoke; */
}

.dropdownnav {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#overall:hover {
    background-color: #fdcb50;
    color: black;
    border: 2px solid white;
    border-radius: 2vw;
    padding: 12px;
    font-weight: bolder;
}

.links a:hover {
    backdrop-filter: blur(16px) saturate(0%);
    -webkit-backdrop-filter: blur(16px) saturate(0%);
    background-color: rgba(255, 255, 255, 0.13);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 2vw;
    padding: 12px;
}

.hamburger {
    /* display: none; */
    background: transparent;
    border: none;
    cursor: pointer;        
}

.hamburger img {
    height: 5vh;
    border-radius: 2vw;
    background-color: transparent;
}


/* Ladning */

.landing {
    width: 98vw;
    margin: 5% auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: whitesmoke;
}

.options {
    width: 50vw;
    height: 60vh;
    border-radius: 2vw;
    padding: 15px;
    overflow: auto;
    backdrop-filter: blur(16px) saturate(0%);
    -webkit-backdrop-filter: blur(16px) saturate(0%);
    background-color: rgba(255, 255, 255, 0.13);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.options h4 {
    line-height: 2;
    max-height: 40vh;
}

.getstartedbutton {
    margin-top: 5%;
    border-radius: 2vw;
    padding: 12px;
    cursor: pointer;
    width: max-content;
    background-color: #fdcb50;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    border: 2px solid white;
}

.cryptocurrency {
    /* position: absolute;
    top: 20%;
    right: 5%; */
    width: 30vw;
    height: auto;
    border-radius: 2vw;
}

/* Content */

.content {
    margin: 5% auto;
    width: 80vw;
    height: 80vh;
    border-radius: 2vw;
    color: whitesmoke;
    padding: 12px;
    backdrop-filter: blur(16px) saturate(0%);
    -webkit-backdrop-filter: blur(16px) saturate(0%);
    background-color: rgba(255, 255, 255, 0.13);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.content h1 {
    text-align: center;
}

.services {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.servicecard {
    border: 3px solid white;
    width: 20vw;
    height: 50vh;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    border-radius: 2vw;
    overflow: auto;
}

.servicecard p {
    text-align: justify;
}

.servicecard:hover {
    border: 3px solid #fdcb50;
    box-shadow: 0 0 30px #fdcb50;

}

.serviceimg {
    width: 10vw;
}


/* Our Analysis */

#analysis {
    font-size: 5vw;
}

.analysis-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

.analysis-count {
    width: 20vw;
    height: 30vh;
    background-color: black;
    border: 1px solid white;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.analysis-count h1 {
    font-family: 'Kode Mono';
    font-size: 2vw;
}


/* Counter */
.count  {
    font-size: 3vw;
    font-family: 'Kode Mono', monospace;
}

.contact {
    margin: 0 auto;
    width: 90vw;
    height: 20vh;
    color: white;
    backdrop-filter: blur(16px) saturate(0%);
    -webkit-backdrop-filter: blur(16px) saturate(0%);
    background-color: rgba(255, 255, 255, 0.13);
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px 12px 0 0;  
}

.phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copyright {
    font-size: 50px;
}

@media screen and (max-width: 550px) {

    .links {
        display: none;
    }

    .landing {
        flex-direction: column-reverse;
        gap: 10px;
        height: 98vh;
    }

    .options {
        width: 80vw;
        height: 90vh;
    }

    .content {
        height: 100vh;
        overflow: scroll;
    }

    .services {
        flex-direction: column;
        gap: 10px;
        height: 80vh;
    }

    .servicecard {
        width: 50vw;
    }

    .servicecard h1 {
        margin-top: 25%;
    }
}